<div class="container pt-3 mb-3">
  <button class="btn btn-primary" (click)="recetaAlAzar()" type="button">Obtener receta</button>
  <section class="receta" *ngIf="mostrar">
    <h1>{{name}}</h1>
    <h2>Tiempo de preparación: {{time}} minutos</h2>
    <p>{{description}}</p>
    <section>
      <h3>Ingredientes</h3>
      <ul class="list-inline">
        <li *ngFor="let ingredient of ingredients">{{ingredient}}</li>
      </ul>
    </section>
    <section>
      <h3>Pasos</h3>
      <ol>
        <li *ngFor="let item of steps">{{item}}</li>
      </ol>
    </section>
  </section>
  <section *ngIf="!mostrar" class="daleAlBoton">
    <h2>DALE AL BOTÓN!</h2>
  </section>
</div>
